@import '../_variables';
@import '_input';
$_list-bg: #fff;
$_list-border-color: #fff;
$_list-shadow: $shadow;
.ant-calendar {
    background: $_list-bg;
    border: 1px solid $_list-border-color;
    box-shadow: $_list-shadow;
    border-radius: $_shape;
    padding: ($_module-rem) 0;
    &-picker {
        display: block;
        &:hover {
            input {
                &.ant-input {
                    border-color: transparent!important;
                }
            }
        }
    }
}