@import '../_variables';
@import '_input';
.ant-input-number {
    width: 100%;
    @include input();
    padding: 0 !important;
    &.has-error .ant-select-selection {
        border-color: $error-color;
    }
    &::focus {
        @include input-focused();
    }
    &::active {
        background-color: #fff !important;
        color: rgba(#000, 0.35);
    }
    .ant-input-number-input-wrap {
        input {
            border: #ebebeb 1px solid;
            &:focus {
                @include input-focused();
                border: 1px solid;
            }
        }
    }
    .ant-input-number-handler-wrap {
        display: flex;
        flex-direction: column;
        width: 45px;
        border-radius: 5px!important;
        &:hover {
            .ant-input-number-handler {
                height: 50%!important;
            }
        }
        .ant-input-number-handler-down,
        .ant-input-number-handler-up {
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                height: 50%!important;
            }
            i {
                left: 50%;
                right: auto;
                transform: scale(0.58333333) rotate(0deg) translateX(-75%);
            }
        }
    }
}