@import '../_variables';
@import '_input';
.ant-select-single:not(.ant-select-customize-input),
.ant-select-selection--multiple,
.ant-select {
    width: 100%;
    .ant-select-selection__rendered {
        width: 100%;
    }
    &.has-error .ant-select-selection {
        border-color: $error-color;
    }
    &.ant-select-sm .ant-select-selection {
        @include input-sm();
    }
    &.ant-select-lg .ant-select-selection {
        @include input-lg();
    }
    .ant-select-selection {
        @include input();
        padding: 0 !important;
        .ant-select-selection-placeholder {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
        }
        .ant-select-selection-search {
            left: calc(#{$module-rem * 2} - 2px);
            .ant-select-selection-placeholder,
            >input {
                margin-left: -2px !important;
            }
        }
        .ant-select-selection-placeholder,
        .ant-select-selection-item {
            right: $module-rem * 2;
            left: $module-rem * 2;
        }
        .ant-select-selection-search-input {
            padding: 0 2px !important;
        }
    }
    &.ant-select-disabled {
        .ant-select-selection {
            color: rgba(0, 0, 0, 0.25);
            background-color: #f5f5f5;
            cursor: not-allowed!important;
            opacity: 1;
            &:hover {
                box-shadow: none;
            }
        }
    }
    &.ant-select-focused {
        .ant-select-selection {
            @include input-focused();
        }
    }
}

.ant-select-selection--multiple {
    &.ant-select-selection-item {
        background: rgba(#000, 0.1);
    }
    .ant-select-selection__rendered {
        >ul>li {
            &:first-child {
                margin-left: 1rem;
            }
        }
    }
}

.ant-select {
    .ant-select-selection[aria-expanded="true"] {
        background-color: #ebebeb !important;
        color: rgba(#000, 0.35);
        transition: background-color 0.2s ease-in-out;
    }
    &-open {
        .ant-select-selection[aria-expanded="true"] {
            background-color: #fff !important;
            color: rgba(#000, 0.35);
        }
    }
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-search {
    left: $module-rem * 2;
    right: $module-rem * 2.5;
}

.ant-select-item {
    padding: ($module-rem / 2) ($module-rem * 2);
}